<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note App</title>

    <link rel="stylesheet" href="stylesheets/home.css" />
</head>

<body>
    <div class="signup-container">
        <div class="signup-main">
            <div class="signup-form">
                <h1> Registration Form</h1>
                <form action="/api/user/register" method="post">
                    <input type="text" name="fullname" id="fullname" placeholder="Fullname" />
                    <input type="email" name="email" id="email" placeholder="Email" />
                    <input type="password" name="password" id="password" placeholder="Password" />
                    <input type="submit" class="btn" value="Sign up">
                </form>
                <p>Already have an account ? <a href="/login">login here</a></p>
            </div>
        </div>
    </div>
</body>

</html>