<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <link rel="stylesheet" href="/stylesheets/notes.css" />
  </head>
  <body>
    <header>
      <h1><%= user.fullname %></h1>
      <form class="logout-form" action="/api/user/logout" method="post">
        <input type="submit" value="Logout" class="btn-red" />
      </form>
    </header>

    <section>
      <div class="signup-form">
        <h1>Create new note</h1>
        <form action="/api/note/create" method="post">
          <input type="text" name="title" id="title" placeholder="Title" />
          <textarea
            name="description"
            id="description"
            placeholder="Description"
          ></textarea>
          <input type="submit" class="btn-blue" value="Create note" />
        </form>
      </div>

      <div class="notes">
        
        <% user.notes.forEach((note) => { %> 
            
            <div class="note">
                <div class="content">
                    <h2><%= note.title %></h2>
                    <p><%= note.description %></p>
                </div>
    
                <div class="links">
    
                    <a href=""> Update</a>
                    <a href=""> Delete</a>
    
                </div>
            </div>

        <% }) %>

      </div>
    </section>
  </body>
</html>
